[submodule "tools"]
	path = tools
	url = https://github.com/Aptivi/tools.git
[submodule "DocGen/theme"]
	path = DocGen/theme
	url = https://github.com/Aptivi/docfx-apt.git
[submodule "assets/libmpg123"]
	path = assets/libmpg123
	url = https://github.com/madebr/mpg123.git
