Source: bassboom-3
Section: misc
Priority: optional
Maintainer: Aptivi CEO <ceo@aptivi.anonaddy.com>
Build-Depends: debhelper-compat (= 12), dotnet-sdk-8.0 (>= 8.0.100), 7zip (>= 21.07), libmpv2 (>= 0.37.0)
Standards-Version: 4.4.0
Homepage: https://aptivi.gitbook.io/bassboom-manual
Vcs-Browser: https://gitlab.com/aptivi/main/BassBoom
Vcs-Git: https://gitlab.com/aptivi/main/BassBoom.git

Package: bassboom-3
Architecture: amd64 arm64
Depends: ${shlibs:Depends}, ${misc:Depends}, dotnet-runtime-8.0 (>= 8.0), libmpv2 (>= 0.37.0)
Provides: bassboom
Description: Cross-platform music player written in C#
 BassBoom is an application that plays music and online radio stations using
 the libmpg123 library bundled with this application.
