:root {
    /* 
        Accent colors
    */
    --apt-accent-1: #6700FF;
    --apt-accent-2: #FFFFFF;
    --apt-accent-shade-1: #3E0099;
    --apt-accent-shade-2: #220055;
    --apt-accent-shade-3: #150033;
    --apt-accent-shade-4: #070011;
    --apt-accent-shade-5: #9044FF;
    --apt-accent-sub: gray;
    --apt-accent-1-shadow: #6700FF80;
    --apt-accent-shade-4-shadow: #070011D0;
    /*
        Background colors
    */
    --apt-accent-back: #000000;
    --apt-accent-back-transparent: #000000D0;
    --apt-accent-back-alternative: #070011;
    --apt-accent-back-gradient: linear-gradient(135deg,rgba(0, 0, 0, 1) 0%, rgba(21, 0, 51, 1) 100%);
    /* 
        Font style
    */
    --apt-font-style-head: 'Space Mono', "Cairo", monospace;
    --apt-font-style-sans: 'Inter', "Cairo", sans-serif;
    --apt-font-style-mono: 'JetBrains Mono', "Cairo", monospace;
    /*
        Styling properties
    */
    --apt-styling-common-font-size: 1.5rem;
    --apt-styling-common-font-size-smaller: 1.175rem;
    --apt-styling-common-font-size-larger: 3rem;
    --apt-styling-border-radius: .75rem;
    --apt-styling-border-width: 2px;
    --apt-styling-border-width-thin: 1px;
    --apt-styling-blur-strength: blur(8px);
    --apt-styling-unified-box-shadow: var(--apt-accent-1-shadow) 0 0 0 0.10rem;
    /* 
        Arrow SVGs
    */
    --apt-arrow-left-svg-url: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%239044ff'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    --apt-arrow-right-svg-url: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%239044ff'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
    --apt-arrow-up-svg-url: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%236700FF' stroke-linecap='round' stroke-linejoin='round'><path d='M2 5L8 11L14 5'/></svg>");
    --apt-arrow-down-svg-url: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%236700FF' stroke-linecap='round' stroke-linejoin='round'><path d='M2 5L8 11L14 5'/></svg>");
}
